body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #525252;
	padding-top: 90px;/*dont touch it for the form to adjust right benath the navbar*/
}

#particles-js{

height: 100vh;
background-color: white; 
background-size: cover;

}

header{

/*width: 100%;
height:27.5vh;
background-color: gray;*/
width: 0px;
height: 0px;

}



nav{

position:fixed;

top: 0;
left: 0;
width: 100%;
height: 80px;
padding: 10px 50px;
/*background-color: white;*/
background-color:black;
box-sizing: border-box;

transition: .5s;
z-index: 1;


}

nav.black {

background: rgba(0,0,0,10);
height: 80px;
padding: 10px 50px;
z-index: 1;
}


nav .logo{

	float: left;
	position: fixed;
}

nav .logo img{

	height: 65px;
	transition:1s;
}

nav.black .logo img{

height: 60px;

}

nav ul{

	float: right;
	margin: 0 ;
	padding: 0;
	display: flex;
	position: relative;

}

nav ul li{

	list-style: none;
	

}
nav ul li a
{

	display: block;
	font-size: 20px;
	font-family:'Roboto', sans-sarif;
	color: white;
	padding: 12px 20px;
	text-transform: uppercase;
	transition: 1s;
	

}

nav.black ul li a
{
	color: #fff;
}

nav ul li ul
{
 /*display: block;  comment-> (use this for testing then change it it "none") */
	display: none;
	position: absolute;
	background-color: black;
	
}


nav.black ul li ul{
	
	background-color: black;

}


nav ul li:hover ul /* for drop down*/
{
	display: block;
	transition:.5;
}

nav ul li ul {

width: 220px;

border-radius: 0px 0px 4px 4px; 


}

nav ul li ul li a
{
padding: 5px 20px;

}

/*
nav ul li a.active,nav ul li a:hover
{

color: #fff;
/*background: #f00;*/
/*
}*/

nav ul li a:hover
{

color: #fff;
background: #f00;
text-decoration: none;
}


nav.black ul li ul li a{

color: white;

}


.toggle{

		
   		color:white;
        font-size: 40px;
   		width: 100%;
   		text-align: right;
	    display: none;
		cursor: pointer;


	}



@media (max-width: 890px)

{	

 	

	.logo img{
	display: flex;
	}
	
	.toggle{

	width: 100%;
	display: block;


}

nav ul {

width: 100%;
display: none;
text-align: center;	

}

nav ul.active{

display: block;
background-color:black;

}

nav ul.active li a{

color: white;

}

nav ul.active li ul{

display: none;

}

nav ul.active li:hover ul{

display: block;

}

 .image{
		
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.image img{
	

	margin-right: auto;
	margin-left: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
}
 

}


section.sec1 h1{
        background: black;
        color: white;
        font-size:100px;
        border-radius: 0.5em;
        padding: 0.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
		
         }


 .note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #000;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
/*.btnsubmit
{
    border:none;
    border-radius:1.4rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}*/


.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }

.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

#roster-item{

float: right;
padding-right:20px; 
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

/*#add-employee
{
float: left;

}*/


section.employee
{
 height:650px;
 background:black;

}

div.employee2 h1{

        background: white;
        color: black;
        font-size:100px;
        border-radius: 0.5em;
        padding: 0.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}




